body{
     font-family: 'Roboto', sans-serif;
     background-color: #EFEFEF;
     font-size: 14px;
}
.nav{
     display: flex;
     list-style-type: none;
     justify-content: center;
     padding-left: 0;
}
.nav > li{
     margin-left: 10px;
     margin-right: 10px;
}
.nav > li > a{
     text-decoration: none;
     color: #333333;
}
.wrapper{
     max-width: 1110px;
     padding-left: 15px;
     padding-right: 15px;
     margin: 0 auto;
}
.header{
     background-color: #ffff;
}
.header-top{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 0;
}
.logo{
     color: #FF9803;
     font-weight: 700;
     font-size: 36px;
}
.logo > span{
     color: #010101;
}
.header-info span{
font-size: 16px;
}
.header-info button{
     font-size: 14px;
     border-radius: 20px;
     background-color: transparent;
     border: 2px solid  #FF9803;
     padding: 10px 15px;
     margin-left: 20px;
}
.header-bottom{
     padding: 15px 0;
}
.header-bottom .nav{
 font-size: 16px;
 margin: 0;    
}

li a, .dropbtn {
     display: inline-block;
     color: #EFEFEF;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   li.dropdown {
     display: inline-block;
   }
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #EFEFEF;
     min-width: 160px;
     
     z-index: 1;
   }
   .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }

   .dropdown-content a:hover {
     background-color: rgb(166, 177, 166);
}

.dropdown:hover .dropdown-content {
  display: block;
}